@charset "UTF-8";

div#secret {
	display: inline-block;
	width: 1200px;
	height: 350px;
	border: 1px solid lightgray;
	margin-top: 80px;
	font-size: 10pt;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

span#secret_span{
	display : inline-block;
	margin-top: 90px;
}
span#secret_span2{
	display : inline-block;
	margin-top: 30px;
	width: 305px;
	text-align: left;
}
span#secret_span3{
	display : inline-block;
	margin-top: 30px;
	width: 305px;
	text-align: left;
}

div#secret_box{
	display : inline-block;
	margin-top: 30px;
}